@model DBStore.DAO.DoAn

<div>
    <h4>DoAn</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaDoAn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaDoAn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaSV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaSV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenDoAN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenDoAN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaGVHD)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaGVHD)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileWordPdf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileWordPdf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileSourceCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileSourceCode)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.MaDoAn  }) |
    <a asp-action="Index">Back to List</a>
</div>
